<% semantic_form_for @message do |f| %>

	<% f.inputs do %>
		<%= f.input :to_participant_id, :label => 'to Contact', :as => :select, :collection => @participant.idols.collect{|c| [c.name,c.id]}+[['*yourself*',current_participant.id]] %>	
		<%= f.input :to_group_id, :label => 'or Group', :as => :select, :collection => @groupsin.collect{|c| [c.group.name,c.group.id]} %>	
		<%= f.input :subject %>
		<%= f.input :message, :as => :text, :required => true %>
	<% end %>

	<p>
	  <input type="button" value="Cancel" onclick="newmess()" />
	  <input type="button" value="Save" onclick="savemess()" />
	</p>

<% end %>
