<%= render(:partial => 'profiles/memenu')%>

<div id="menudiv"><%= link_to_function 'Inbox', "showinout('in')" %> | <%= link_to_function 'Sent', "showinout('out')" %> | <%= link_to_function 'New Message', "newmess()" %></div>

