<%= render(:partial => 'profiles/memenu')%>

<div id="menudiv"><a href="/messages?inout=in">Inbox</a> | <a href="/messages?inout=out">Sent</a> | <a href="/messages?inout=out&amp;newmess=1">New Message</a> | <a href="/me/friends">Friends</a> | <a href="/me/invite">Invite</a> | <a href="/items/followed">Friend Feed</a> <br><br></div>

