<%= render(:partial => 'menu')%>

<p>This is your profile as others see it.</p>

<div><%= render(:partial => 'profiles/public')%></div>

<% if false -%>
<p>To-do: <a href="/participants/edit">Edit</a> from Devise/Registrations needs to be figured out, for password edit, etc.</p>
<% end -%>