<% if participant_signed_in? -%>
	<% if false %>
  <li class="menu">
  <%= link_to('Edit account', edit_participant_registration_path) %>
  </li>
	<% end %>
<% else -%>
	<li class="menu"><a class="<%= 'selected' if @section=='join' %>" href="/join">Join with Email</a></li>
<% end -%>