<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	
<div>
<%=raw @message %>
</div>

<hr/>

<p>
<% if @cdata and @cdata.has_key?('recipient') and @cdata['recipient'].authentication_token.to_s != '' -%>    
<a href="https://<%= BASEDOMAIN %>/optout?auth_token=<%= @cdata['recipient'].authentication_token %>">Unsubscribe</a>   
<% else -%>
This message sent through <a href="https://<%= BASEDOMAIN %>/">Voices of Humanity</a>. 
<% end -%>    
</p>


</body>
</html>