<%= render(:partial => 'menu')%>

<% if @participant -%>

<div><%= render(:partial => 'profiles/public')%></div>

<% if current_participant.status != 'visitor' and @participant.status != 'visitor' -%>
<div id="followdiv"><%= render(:partial => 'follow') %></div>
<% end -%>

<script>
function follow(onoff) {
	$.ajax({
    type: 'GET',
    url: '/people/follow',
    data: 'id=<%= @participant_id %>&onoff=' + onoff,
    complete: function(t){	
      $("#followdiv").html(t.responseText);
    }
  });	
}
</script>

<% else -%>

<p>That user doesn't exist</p>

<% end -%>