<div style="width:700px;margin:10px auto 10px auto;padding:15px;border: 1px solid black">

<h2>Facebook Sign up</h2>

<p>We just need to know what group you want to join. Other profile details can be filled in later.</p>

<form action="/front/fbjoin" method="post" enctype="multipart/form-data">
<input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">

<table style="background-color:#fff;margin-left:auto;margin-right:auto;width:700px">		
<tr><td>Group*</td><td>
<%= select_tag :group_id,raw('<option value="0">* choose *</option>')+ options_from_collection_for_select(Group.where(:openness=>'open').order(:name),'id','name',@group_id) %>
</td></tr>
</table>
<p><input type="image" src="/assets/login/facebook_64.png" alt="Submit" style="vertical-align:middle;float:left;margin-right:10px">	

&lt;-- Click the Facebook logo to continue. Facebook will ask you to log in, if you aren't already logged in, and will ask for your permission to use your login and basic profile information for InterMix
</p>

</form>

<div class="clear"><br></div>

<p>If you'd rather join with your email and password, <a href="/join">click here instead</a>.</p>

<p>If you have questions, please contact the administrator at <a href="mailto:questions@intermix.org">questions@intermix.org</a>.</p>

</div>