<p>Got you!</p>

<p>See your picture and statement [here], where you can also interact with others</p>

<p><% for item in @samples -%>
<img src="/images/data/items/<%= item.id %>/thumb.jpg" width="50" height="50" title="<%= "#{item.participant.first_name} #{item.participant.last_name}: #{item.short_content}" %>" alt="thumbnail">
<% end -%>
</p>
