<div style="text-align:center;font-weight:bold;padding:30px">
	
<p>Click the Confirm button to stop receiving emails. To restart your participation, log back in and uncheck the “Never Send me Emails” box.</p>

<p>
	<%= button_to_function "Cancel", "window.close()" %>
	<%= button_to_function "Confirm", "alert('Confirm')" %>
</p>

</div>