<% for photo in @photos %>
	<% if File.exist?("#{@picdir}/#{photo.participant_id}/#{photo.id}_75.jpg") -%>
		<a href="<%= "#{@picurl}/#{photo.participant_id}/#{photo.id}.jpg" %>" title="<%= photo.caption %>" target="_blank"><img src="<%= "#{@picurl}/#{photo.participant_id}/#{photo.id}_75.jpg" %>"/></a>	
	<% end -%>
<% end %>
