<h1>Control of Posted Material</h1>

<div>
<p><a href="http://intermix.org/ccattribution3point0.htm" target="_blank"><%= image_tag("ccattribution3point0.png",:style=>"margin:4px 0 0 0;") %></a></p>	
	
<p>Be aware that all items posted in the InterMix Voices of Humanity Social Media are irrevocably licensed for general use under the Creative Commons Attribution 3.0 Unported (CC BY 3.0) license. Simply by posting an item, you are granting everyone with access to the item the rights to reuse the item under conditions listed here.  You are responsible if you post sensitive copyright material; be sure to get permission from the owner.</p>
</div>


<h1>Privacy Policy</h1>

<div>
	
<p><strong>What information do we collect?</strong> </p>

<p>We collect information from you when you create a profile on our site or possibly when a group administrator imports your contact information from a mailing list previously maintained elsewhere. </p>

<p>When you create a profile you may be asked to enter your name, your e-mail address, your metropolitan area, political affiliation, faith tradition and similar fields. You can change all your profile information, except your e-mail, including your name at any time.</p>

<p><strong>What do we use your information for?</strong></p>

<p>Any of the information we collect from you may be used in one of the following ways: </p>

<p>- To personalize your experience according to your preferences and settings</p>

<p>- To send periodic emails</p>

<p>The email address you provide may be used to send you postings on the forum, messages from groups you're a member of, or from other members, as well as occasional information about the features of the site, and responses to you inquiries.</p>

<p><strong>How do we protect your information?</strong> </p>

<p>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. Any passwords are encrypted. The server is protected with firewalls and other security measures.</p>

<p><strong>Do we use cookies?</strong> </p>

<p>Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information</p>

<p> We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.</p>

<p><strong>Do we disclose any information to outside parties?</strong> </p>

<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be made publicly available.</p>

<p><strong>California Online Privacy Protection Act Compliance</strong></p>

<p>Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.</p>

<p>As part of the California Online Privacy Protection Act, all users of our site may make any changes to their information at any time by logging in and going to the 'Edit Profile' page.</p>

<p><strong>Childrens Online Privacy Protection Act Compliance</strong> </p>

<p>We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.</p>

<p><strong>Terms and Conditions</strong> </p>

<p>All the usual Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website apply. Please use common sense. Be aware that our software is not perfect. Protect your identity by using a pseudonym if necessary. Participate at your own risk.</p>

<p><strong>Your Consent</strong> </p>

<p>By using our site, you consent to our online privacy policy.</p>

<p><strong>Changes to our Privacy Policy</strong> </p>

<p>If we decide to change our privacy policy, we will post those changes on this page, send an email notifying you of any changes, and/or update the Privacy Policy modification date below. </p>

<p>This policy was last modified on 03/07/2011</p>

<p><strong>Contacting Us</strong> </p>

<p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>

<p>Roger Eaton<br />questions@intermix.org<br />USA 415 933 0153<br />
	
</div>