<% semantic_form_for [:admin, @hub] do |f| %>

	<% f.inputs do %>
		<%= f.input :name, :required => true %>
	<% end %>

<% end %>

<p>
  <input type="button" value="Cancel" onclick="viewrec1(<%= @hub.id.to_i %>)" />
  <input type="button" value="Save" onclick="saverec1()" />
</p>