<img src="{{ logo }}" width="150" style="float:right;width:150px;margin:0 10px 10px 0;">

<p style="color:#aa180a;text-align:center;font-weight:bold;font-size:20px">{{ conversation.name }}</p>

<p>default conversation home page</p>