<img src="{{ logo }}" width="150" style="float:right;width:150px;margin:0 10px 10px 0;">

<p style="color:#aa180a;text-align:center;font-weight:bold;font-size:20px">{{ conversation.name }}</p>

<p><center><big><b>Voices of Humanity - Order out of Chaos</b></big><br/><i>finding our common humanity across<br/>all national, religious and cultural boundaries</i></center></p>

<p><b><big>A Platform for Community Action</big></b></p>


<p style="text-align:justify"><b><big>Welcome.</big></b> Joining the <i>Order out of Chaos</i> worldwide conversation is easy. By giving each nation and religion its own collective voice in a global conversation capped by the Voice of Humanity-as-One, Voices of Humanity enables us to transcend and yet also to support our nations and religions. </p>

<%= button_to "/participants/auth/facebook", class: "btn btn-danger", method: :post, data: {turbo: "false"} do %>
  <%= image_tag("https://voh.intermix.org/images/login/facebook_64.png", alt: "Facebook Sign-in", style: "display:inline-block;vertical-align:middle", width: "64", height: "64") %>
<% end %>
</p>
<p><%= button_to "/participants/auth/google_oauth2", class: "btn btn-danger", method: :post, data: {turbo: "false"} do %>
  <%= image_tag("https://voh.intermix.org/images/login/google_oauth2_64.png", alt: "Google", style: "display:inline-block;vertical-align:middle", width: "64", height: "64") %>
<% end %>
</p>
<b>Use the Facebook or Google button</b> to sign up for free and sign back in anytime or click the Join button on the left of the screen. You'll fill out a short form that will become your online profile. Or use the Sign in button with your email and password if you have already joined. <a href="https://voh.intermix.org/participants/password/new">Forgot your password?</a></p>

<p style="text-align:justify"><b>Our new privacy policy is available <a href="https://voh.intermix.org/helppage/privacy" target="_blank">here</a>.</b></p>

<p><big><b>Understanding Voices of Humanity</b></big></p>

<p style="text-align:justify"><b>What makes Voices of Humanity special?</b> Imagine if Facebook could list the top-liked posts from the last 30 days with selection by gender and age? That is what Voices of Humanity does that is different.</p>

<p style="text-align:justify"><b>There are six Voices of Humanity:</b> the Voice of Women, the Voice of Men, the Voice of Youth, the Voice of Experience, the Voice of Wisdom and the Voice of Humanity-as-one. Top-rated messages from these six voices of humanity will be extremely likeable in the Facebook sense but more than that, because love, wit and spirit are what everyone appreciates, we can expect the six voices of humanity to be consistently kind, intelligent and upbeat. Everyone with an interest in global issues will read the top-rated messages and be influenced in a positive way, giving rise to a surprising, ever changing global consciousness that will underpin a sustainable world.</p>

<p style="text-align:justify"><b>The peaceful transition to a sustainable world</b> requires global trust and cooperation between the nations and religions. We love our nations and our religions, and won’t give them up, so in this shift to a larger sense of unity, we need to be thinking how we can motivate the nations and religions to be willing partners. Dare we imagine a collective voice of America and of Russia, India and Pakistan, Israel and Palestine? A voice of Islam and of Christianity? It might seem a foolish project, but when we realize that the nations and religions are being unified and strengthened within the context of a unified humanity, then the true genius of the Voices of Humanity project becomes apparent. It is by supporting the nations and religions that we motivate them to be willing partners in the unification of humanity.</p>

<p style="text-align:justify"><b>Voices of Humanity encourages holistic thinking.</b> As an example, United Nations supporters generally concentrate on particular issues: climate change, education, health and so forth. The interaction across the issue silos gets lost to the detriment of all the issues. The Voices of Humanity “Apart & Together” feature overcomes the silo effect by alternating between 1) each issue electing its own messages, and 2) supporters of all the issues together electing messages to represent the holistic view across the silos.</p>

<p style="text-align:justify"><b>Gender and age equality</b> is built-in to Voices of Humanity. It is no exaggeration to say this will amount to a new social contract.</p>

<p style="text-align:justify"><b>Voices of Humanity supports bottom up networks.</b> Are you interested in the intersection between #sdgs and #nuclear_disarm? No problem. Create your own “SDGs and Nukes” network. Everyone who is a member of both the #sdgs community and the #nuclear_disarm community is automatically a member of the new network you just created. When you go to the network, you see only messages tagged for both communities and written by those who are a member of both communities.</p>

<p style="text-align:justify"><b>Last but not least,</b> Voices of Humanity is nonviolent action oriented. A prominent “Nonviolent Action” button reduces the forum list to only those messages hashtagged #nvaction. While in Nonviolent Action mode, all newly posted messages are automatically hashtagged #nvaction.</p>

<p style="text-align:justify"><b>Putting it all together, Voices of Humanity</b> uses crowd-source technology (voting on messages) to give women, men, youth, middle-aged and seniors each a collective voice. Empowered with the gift of speech, these great divisions of the human race will join together with humanity-as-one to weave a tale of love and wit. Through this new lens we will come to see ourselves as the intelligent, generous and capable species that we are, giving us the trust and confidence we need to cooperate on pressing global matters.</p>

<p><big><b>Bringing the Goals of the UN Home to San Francisco</b></big></p>

<p style="text-align:justify"><b>Organize Locally, Connect Globally.</b> The Voices of Humanity San Francisco based team aims to persuade the SF Board of Supervisors to pass a resolution establishing a UN Goals Advisory Committee that will develop detailed proposals how the goals of the UN may best be supported / implemented by the City. The resolution will cover each of the UN Sustainable Development Goals (SDGs), human rights, CEDAW, nuclear disarmament and world peace, with a blanket clause covering all the other goals of the UN. See our new <a href="https://sfungoals.org" target="_blank">sfungoals.org</a> website. And please like the <a href="https://facebook.com/sfungoals" target="_blank">facebook page</a> that goes with it.</p>

<p style="text-align:justify"><b>The plan</b> is to build a civic / academic / business / government coalition for a “collective impact” project to get the resolution passed. Voices of Humanity will provide the needed “continuous communication” tool and the team will build the coalition from the ground up, all the while looking for a “backbone organization” to partner with and grant money for outreach staff.</p>

<p style="text-align:justify"><b>The SDGs</b> are coming down to the city level in any case, so our efforts are very likely to succeed. That success will generate much good will and momentum for a second stage to the project as our coalition transforms itself into the new San Francisco UN Goals Advisory Committee. Then the real work will begin.</p>

<p style="text-align:justify"><b>An app</b> for Voices of Humanity will be used to have a <i>Together and Apart</i> conversation between supporters of each of the UN Goals. See directly below for more about <i>Together and Apart</i>. Monthly meetups will bring in new team members. For a more about this new VoH initiative please see the article <a href="https://voh.intermix.org/items/2767/view" target="_blank">Using Collective Impact to Bring the Goals of the United Nations Home to San Francisco</a>.</p>

<b><big><p>About</p></big></b>

<p style="text-align:justify"><b>VoH </b> is a project of <a href="http://intermix.org/cci.htm" target="_blank">Collective Communication, Inc.</a> (CCI), a California non-profit. Roger Eaton, Founder and now Treasurer of CCI is current project coordinator. As of January 2017, Bronwyn Galloway is President of CCI and with her lead we are looking to bring in more women from around the world to the CCI Board. The VoH online community is implemented via <a href="https://github.com/VoicesOfHumanity/InterMix" target="_blank">InterMix open source software</a> at github</a> under the <a href="http://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPL v3.0 license</a>.</p>

<p><big><b>Step by Step</b></big></p>
<ol>
<li>If you use facebook to register, then it is a little easier and in the future you can log in with a single click. Go to the top of this page and click the facebook icon.</li>
<li>If you do not register with facebook, then begin by clicking the "Join" button at the top left of this page. After you register, you will need to link in from an email that will be sent to confirm it really is you.</li>
<li>In the process of joining or by editing your profile, you can join or leave communities of interest using the checkboxes provided.</li>
<li>At any time you can go to the Forum by clicking the "Order Out of Chaos" button in the upper left. In the forum you can read and vote on the messages that have already been added there.</li>
<li>You may also comment on any of the messages by clicking the comment link under the message.</li>
<li>Start your own topic by clicking "Add My Voice" at the top right of the page.</li>
<li>Be sure to click the "Save" button at the bottom after you have written your message. <b>That's it!</b></li>
</ol></p>

<p><b>And please</b> <a href="https://www.facebook.com/VoHumanity/" target="_blank">"like" us on facebook</a>.</p>

<p><b>For questions or comments</b> contact project coordinator, <a href="mailto:rogerweaton@gmail.com">Roger Eaton</a>.</p>
<center><div id="amznCharityBanner"><script type="text/javascript">(function() {var iFrame = document.createElement('iframe'); iFrame.style.display = 'none'; iFrame.style.border = "none"; iFrame.width = 310; iFrame.height = 256; iFrame.setAttribute && iFrame.setAttribute('scrolling', 'no'); iFrame.setAttribute('frameborder', '0'); setTimeout(function() {var contents = (iFrame.contentWindow) ? iFrame.contentWindow : (iFrame.contentDocument.document) ? iFrame.contentDocument.document : iFrame.contentDocument; contents.document.open(); contents.document.write(decodeURIComponent("%3Cdiv%20id%3D%22amznCharityBannerInner%22%3E%3Ca%20href%3D%22https%3A%2F%2Fsmile.amazon.com%2Fch%2F95-3794897%22%20target%3D%22_blank%22%3E%3Cdiv%20class%3D%22text%22%20height%3D%22%22%3E%3Cdiv%20class%3D%22support-wrapper%22%3E%3Cdiv%20class%3D%22support%22%20style%3D%22font-size%3A%2020px%3B%20line-height%3A%2023px%3B%20margin-top%3A%208.5px%3B%20margin-bottom%3A%208.5px%3B%22%3ESupport%20%3Cspan%20id%3D%22charity-name%22%20style%3D%22display%3A%20inline-block%3B%22%3ECollective%20Communication%20Inc.%20and%20Voices%20of%20Humanity.%3C%2Fspan%3E%3C%2Fdiv%3E%3C%2Fdiv%3E%3Cp%20class%3D%22when-shop%22%3EWhen%20you%20shop%20at%20%3Cb%3Esmile.amazon.com%2C%3C%2Fb%3E%3C%2Fp%3E%3Cp%20class%3D%22donates%22%3EAmazon%20donates.%3C%2Fp%3E%3C%2Fdiv%3E%3C%2Fa%3E%3C%2Fdiv%3E%3Cstyle%3E%23amznCharityBannerInner%7Bbackground-image%3Aurl(https%3A%2F%2Fm.media-amazon.com%2Fimages%2FG%2F01%2Fx-locale%2Fpaladin%2Fcharitycentral%2Fbanner-background-image._CB309675353_.png)%3Bwidth%3A300px%3Bheight%3A250px%3Bposition%3Arelative%7D%23amznCharityBannerInner%20a%7Bdisplay%3Ablock%3Bwidth%3A100%25%3Bheight%3A100%25%3Bposition%3Arelative%3Bcolor%3A%23000%3Btext-decoration%3Anone%7D.text%7Bposition%3Aabsolute%3Btop%3A20px%3Bleft%3A15px%3Bright%3A15px%3Bbottom%3A100px%7D.support-wrapper%7Boverflow%3Ahidden%3Bmax-height%3A86px%7D.support%7Bfont-family%3AArial%2Csans%3Bfont-weight%3A700%3Bline-height%3A28px%3Bfont-size%3A25px%3Bcolor%3A%23333%3Btext-align%3Acenter%3Bmargin%3A0%3Bpadding%3A0%3Bbackground%3A0%200%7D.when-shop%7Bfont-family%3AArial%2Csans%3Bfont-size%3A15px%3Bfont-weight%3A400%3Bline-height%3A25px%3Bcolor%3A%23333%3Btext-align%3Acenter%3Bmargin%3A0%3Bpadding%3A0%3Bbackground%3A0%200%7D.donates%7Bfont-family%3AArial%2Csans%3Bfont-size%3A15px%3Bfont-weight%3A400%3Bline-height%3A21px%3Bcolor%3A%23333%3Btext-align%3Acenter%3Bmargin%3A0%3Bpadding%3A0%3Bbackground%3A0%200%7D%3C%2Fstyle%3E")); contents.document.close(); iFrame.style.display = 'block';}); document.getElementById('amznCharityBanner').appendChild(iFrame); })(); </script></div></center>

<p>&nbsp;</p>