<img src="/images/together_apart.jpg" style="width:140px;float:right" alt="together or apart icon">

<span style="font-size:20px;color:#000;">Apart & Together Conversations</span></a><br>

<ul class="horizmenu">
<li><a class="menu<%= ' selected' if @csection=='my' %>" href="/conversations/my">My conversations</a></li>
<li><a class="menu<%= ' selected' if @csection=='all' %>" href="/conversations/all">All conversations</a></li>
</ul>
