.treeview .hover {
    color: #000;
    background-color: #fee;
}

.filetree div.folder, .filetree div.file { padding: 1px 0 1px 16px; display: block; }
.filetree div.folder { background: url(/images/treeview/folder.gif) 0 0 no-repeat; }
.filetree li.expandable div.folder { background: url(/images/treeview/folder-closed.gif) 0 0 no-repeat; }
.filetree div.file { background: url(/images/treeview/file.gif) 0 0 no-repeat; }
