<h3>Duplicate Account</h3>

<p>There's already an account with this email address. 
If it is yours, and you wish to add a Facebook login to it, just log in with it first with your email and password, and then you can
add the Facebook login in the profile/authentication section.</p>

<p>First name: <%= @participant.first_name %></p>
<p>Last name: <%= @participant.last_name %></p>
<p>E-mail: <%= @participant.email %></p>