<img src="{{ logo }}" width="150" style="float:left;width:150px;margin:0 10px 10px 0;">

<p>Dear {{ participant.name }},</p>

{% if group.openness == 'open' %}

<p>Welcome!  You are now a confirmed <i>{{ group.name }}</i> participant in the exciting and innovative InterMix Voices of Humanity (VoH) social media.  The next step is to go to your <a href="http://{{ domain }}/me/profile/edit#settings">profile settings page</a> to set your email preferences.  From there you can use the "Save and go to Forum" button to begin participating.</p>

<p>Please do make yourself at home,</p>

{% else %}

<p>Welcome!  Your account in InterMix Voices of Humanity (VoH) social media is now confirmed.</p>

<p>The next step is that the administrator of <i>{{ group.name }}</i> will need to approve (or potentially disapprove) your membership of the group. You will receive a notification when that happens, normally within the next couple of days.</p>

{% endif %}

{{ group.adminname }}
