<p>Thank you for confirming! You can now go to: <a href="http://{{ domain }}/me/profile/edit#settings">http://{{ domain }}/me/profile/edit</a> to check your email settings and provide your country of residence, which is required for participation.  From there you may use the menu on the left to go to the group you have just joined.</p>

<p>(We need your country of residence so we can provide an easy dropdown list of metropolitan areas.)</p>

