<img src="{{ logo }}" width="150" style="float:right;width:150px;margin:0 10px 10px 0;">

<p>Dear {{ participant.name }},</p>

{% if group.openness == 'open' %}

<p>Welcome! You are now a confirmed <i>{{ group.name }}</i> participant in the exciting and innovative InterMix Voices of Humanity social media.</p>

<p>A good next step is to go to your <a href="http://{{ domain }}/me/profile/edit#settings">profile settings page</a> to set your email preferences. From there you can use the "Save and go to Forum" button to begin participating.</p>

<p>Or you may simply click the "Forum List" button on the left to go directly to the forum list for this group.</p>

<p>Please make yourself at home!</p>

{% else %}

<p>Welcome! Your account in InterMix Voices of Humanity social media is now confirmed.</p>

<p>The moderator of <i>{{ group.name }}</i> will review your application for membership in the group. You will receive a notification when that happens, normally within the next day or two.</p>

{% endif %}

{{ group.adminname }}