<img src="{{ logo }}" width="150" style="float:left;width:150px;max-height:150px;margin:0 10px 10px 0;">

<p>Sample public front page for the group "{{ group.name }}"</p>

<p>Description: {{ group.description }}</p>

<p>Group code: {{ group.shortname }}</p>