<img src="{{ logo }}" width="150" style="float:left;width:150px;margin:0 10px 10px 0;">

<p>You have been added to the group "{{ group.name }}" by {{ current_participant.name }}, an administrator of the group.</p>

<p>Welcome to the group and to the InterMix Voices of Humanity social media.</p>

<p>Please begin by <a href="http://{{ domain }}/me/profile/edit?auth_token={{ participant.authentication_token }}#settings">updating your profile</a>, after which you can access the <a href="http://{{ domain }}/groups/{{ group.id }}/forum?auth_token={{ participant.authentication_token }}">group forum</a>.</p>

<p>Your username: {{ participant.email }}<br>
Your password: {{ password }}</p>
<p>&nbsp;</p>

