<p>You have been added to the group "{{ group.name }}" by {{ current_user.name }}, an administrator of the group.</p>

<p>It would be a good idea to now go <a href="http://{{ domain }}/me/profile/edit">update your profile</a>, after which you can access the <a href="http://{{ domain }}/groups/{{ group.id }}/forum">group forum</a>.</p>