<img src="{{ logo }}" width="150" style="float:left;width:150px;max-height:150px;margin:0 10px 10px 0;">

<p>You have been invited to join the group "{{ group.name }}" by {{ current_participant.name }}.</p>

<p>Go <a href="{{ joinlink }}">here</a> to join.</p>

