<form action="/front/groupjoin" method="post">
<input type="hidden" name="group_id" value="{{ group.id }}"> 	 
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

<div style="width:680px;margin:10px auto 10px auto;padding:15px;border: 1px solid black">
<table><tr><td>
<img src="{{ logo }}" width="150" style="float:left;width:150px;margin:0 10px 10px 0;">
<p>&nbsp;</p>
<p style="align:center;"><big>Welcome to <b>{{ group.name }}</b></big></p>
{% if group.openness == 'open' %}
<p><big>To participate, please provide the requested information and then press the "Register" button at the bottom:</big></p>
{% else %}
<p><big>To apply to join this group, please provide the requested information and then press the "Apply" button at the bottom:</big></p>
{% endif %}
</td></tr>
<tr><td>
	
	<table style="background-color:#fff;margin-left:auto;margin-right:auto;width:680px">    
	{% for m in meta %}
	<tr><td>*{{ m.name }}</td><td><select name="meta_{{ m.id }}">{% for node in m.nodes %}<option value="{{ node.id }}"{% if node.id == m.val %} selected="selected"{% endif %}>{{ node.name }}</option>{% endfor %}</select></td></tr>
	{% endfor %}
	<tr><td>*Country of Residence</td><td><select name="country_code"><option value="">* choose *</option>{% for country in countries %}<option value="{{ country.iso }}"{% if country.iso == country_code %} selected="selected"{% endif %}>{{ country.name }}</option>{% endfor %}</select></td></tr>
  <tr><td>Metro Area</td><td><select name="metro_area_id"><option value="">* choose *</option>{% for m in metro_areas %}<option value="{{ m[1] }}">{{ m[0] }}</option>{% endfor %}</select></td></tr>
  <tr><td>City</td><td><input type="text" name="city" value="" size="30" style="width:200px"></td></tr>    
  <tr><td>*Name</td><td><input type="text" name="name" value="{{ name }}" size="30" style="width:200px"></td></tr>    
	<tr><td>*E-mail</td><td><input type="text" name="email" value="{{ email }}" size="30" style="width:200px"></td></tr>    
	<tr><td>*Password</td><td><input type="password" name="password" value="{{ @password }}" size="30" style="width:200px"> Confirm: <input type="password" name="password_confirmation" value="{{ @password_confirmation }}" size="30" style="width:200px"></td></tr>
  <tr><td>Indigenous</td><td><input type="checkbox" name="indigenous" value="1"> check here if you identify with an indigenous people or tribe</td></tr>
  <tr><td>Other Minority</td><td><input type="checkbox" name="other_minority" value="1"> check here if you identify with a disadvantaged national, ethnic, racial or religious minority in your country</td></tr>
  <tr><td>Veteran</td><td><input type="checkbox" name="veteran" value="1"> check here if you are a veteran</td></tr>
  <tr><td>Interfaith</td><td><input type="checkbox" name="interfaith" value="1"> check here if you identify as interfaith</td></tr>
  <tr><td>Refugee</td><td><input type="checkbox" name="refugee" value="1"> check here if you identify as a refugee</td></tr>
  </table>

{% if group.openness == 'open' %}
<input type="submit" value="Register!">    
<p><br /><b><span style="color: DarkRed;">A confirmation email will be sent. Be sure to respond to that email.</span></b> The confirmation link will take you online to the {{ group.name }} forum where you can participate and learn more.</p>
<p><b>Important: </b>If the confirmation email does not arrive within a few minutes, please check your spam folder.</p>
{% else %}
<input type="submit" value="Apply!">    
<p><br /><b><span style="color: DarkRed;">A confirmation email will be sent. Be sure to respond to that email.</span></b> After you have clicked on the confirmation link, and your membership of InterMix thus been validated, the administrators of {{ group.name }} will be notified. They will approve or disapprove your application to join the group, and you'll be notified of the result.</p>
<p><b>Important: </b>If the confirmation email does not arrive within a few minutes, please check your spam folder.</p>
{% endif %}

</td></tr>
</table>

</form>

</div>