<p align="center"><big><b>{{ group.name }}</b> Signup Success!</big></p>

<p>A confirmation email has been sent to the email address you provided. Please check your inbox. If you have not received the email within a few minutes, be sure to check your spam folder. You must click the link in that email to confirm it really was you who signed up.</p>
