<img src="{{ logo }}" width="150" style="float:left;width:150px;margin:0 10px 10px 0;">

<p>Dear {{ participant.name }},</p>

<p>You have successfully signed up with "<b>{{ group.name }}</b>". Welcome!</p>

{% if participant.fb_uid %}
  
  <p>You will be able to <a href="https://voh.intermix.org">log in</a> simply using your Facebook login. If you're already logged into Facebook, you get logged in automatically when you go to the <a href="https://voh.intermix.org">message list</a>.</p>

  <p>If at any point you should choose to not use your Facebook login, you can also log in with this information:</p>

{% else %}

  <p>If you did not sign up for the group, simply ignore this email.</p>

  <p>Please confirm your sign-up by clicking the following link: {{ confirmlink }}. If the link doesn't work, copy and paste it into your browser window.</p>

  <p>Your user-id and password can be used to sign-in at <a href="https://{{ domain }}">{{ domain }}</a>. You must click the confirm link above before your password will work.</p>

{% endif %}

<p>User-ID: {{ participant.email }}<br>
Password: {{ password }}</p>

<p>Be sure to set your email preferences in the "settings" section in your profile.</p>

<p>If you have questions or comments, contact the system admin at <a href="mailto:questions@intermix.org">questions@intermix.org</a>.</p>

	
	