<p><img src="{{ logo }}" width="150"></p>

<p>Sample public front page for the discussion "{{ dialog.name }}"</p>

<p>Description: {{ dialog.description }}</p>

<p>Discussion code: {{ dialog.shortname }}</p>
