<img src="{{ logo }}" width="150" style="float:left;width:150px;margin:0 10px 10px 0;" alt="logo">

<p>Sample public front page for the discussion "{{ dialog.name }}"</p>

<p>Description: {{ dialog.description }}</p>

<p>Discussion code: {{ dialog.shortname }}</p>

<p>
<a href="/participants/auth/facebook"><%= image_tag "/images/login/facebook_64.png", :size => "64x64", :alt => "Facebook", :style => "vertical-align:middle" %></a> 
Facebook Sign-in
</p>
