<p>Sample public front page for the discussion "{{ dialog.name }}"</p>

<p>Description: {{ dialog.description }}</p>

<p>Discussion code: {{ dialog.shortname }}</p>

<p><a href="http://{{ domain }}/djoin?dialog_id={{ dialog.id }}">Join here</a></p>