<img src="{{ logo }}" width="150" style="float:left;width:150px;margin:0 10px 10px 0;" alt="logo">

<p>Home page for the discussion "{{ dialog.name }}"</p>

<p>Description: {{ dialog.description }}</p>

<p>Discussion code: {{ dialog.shortname }}</p>