
<p>You are successfully signed up!</p>

<p>How to Participate</p>

<ul>
	<li>If you have not written your message yet, click the "Add Message" button in the upper right.</li>
 	<li>The "+" expands the messages.</li>
	<li>Run the cursor over the smilies on the right to open the two voting panels. This is your vote. Rate each message twice, once for interest and once for approval. Both ratings are needed for your vote to count.</li>
	<li>Your awesome voting power is what will make the event a success. Please come back again and again.</li>
	<li>Click "reply" to respond to any of the messages.</li>
</ul>

<p>For the Curious</p>

<ul>
	<li>The elected overall messages will be sent to Sec. General Ban Ki-moon and we expect he will answer.</li>
	<li>The discussion will continue after the voting is over.</li>
	<li>Controversy is calculated as the mathematical variance of the approval scores.</li>
	<li>The InterMix software used for this discussion will go open source in November and will continue to be improved.</li>
</ul>