
<div id="welcome_1" style="text-align:left;font-size:18px">
	<p>page one --> <a href="" onclick="welcome_next(2);return(false);">page two</a> --> <a href="" onclick="welcome_next(3);return(false);">page three</a> --> <a href="" onclick="welcome_next(4);return(false);">page four</a><p>

<p>Welcome to InterMix, a new form of social media.</p>

<p>InterMix raises up six great Voices of Humanity:</p>

<ul>
	<li>the Voice of Women</li>
	<li>the Voice of Men</li>
	<li>the Voice of Youth</li>
	<li>the Voice of Experience (middle-age)</li>
	<li>the Voice of Wisdom (seniors)</li>
	<li>the Voice of Humanity as One</li>
</ul>

<p><a href="" onclick="welcome_next(2);return false">Continue</a></p>
</div>

<div id="welcome_2" style="display:none">
	<p><a href="" onclick="welcome_next(1);return(false);">page one</a> --> page two --> <a href="" onclick="welcome_next(3);return(false);">page three</a> --> <a href="" onclick="welcome_next(4);return(false);">page four</a><p>
		
	<p>The three main building blocks of InterMix are its people, its groups and its discussions.</p>

	<p>It is simple: people join groups and groups participate together in discussions.</p>
	<p><a href="" onclick="welcome_next(1);return false">Previous</a> <a href="" onclick="welcome_next(3);return false">Continue</a></p>
</div>

<div id="welcome_3" style="display:none">
	<p><a href="" onclick="welcome_next(1);return(false);">page one</a> --> <a href="" onclick="welcome_next(2);return(false);">page two</a> --> page three --> <a href="" onclick="welcome_next(4);return(false);">page four</a><p>

	<p>Discussions may have special "decision periods” with a particular topic.</p>

	<p>In a decision period, people post comments to be rated by others.  At the end of the decision period highly rated messages for each participating group and for each of the six voices of humanity are shared with all participants in the discussion.</p>
	<p><a href="" onclick="welcome_next(2);return false">Previous</a> <a href="" onclick="welcome_next(4);return false">Continue</a></p>
</div>

<div id="welcome_4" style="display:none">
	<p><a href="" onclick="welcome_next(1);return(false);">page one</a> --> <a href="" onclick="welcome_next(2);return(false);">page two</a> --> <a href="" onclick="welcome_next(3);return(false);">page three</a> --> page four<p>

	<p>So it is still simple:</p>

	<ol style="font-weight:bold">
	<li>People join groups.</li>
	<li>Groups participate in discussions.</li>
	<li>Discussions may concentrate on a topic in a decision period.</li>
	</ol>

	<p>Have fun!</p>

	<p><a href="" onclick="$.modal.close();return false">Continue to InterMix</a></p>
	
	<p><a href="" onclick="welcome_next(3);return false">Previous</a></p>
</div>

<script>
var welcome_current = 1;
function welcome_next(pg) {
	$('#welcome_'+welcome_current).hide();
	welcome_current = pg;
	$('#welcome_'+welcome_current).show();	
}
</script>

<%
current_participant.dialog_pop_shown = true
current_participant.save
%>