<h3>Discussions</h3>

<% if @dialogsin.length > 0 -%>
<p>You can participate in these discussions:</p>
<% else -%>
<p>You don't have access to any discussions</p>
<% end -%>

<ul>
<% for dialog in @dialogsin -%>
<% dom = ((dialog.shortname.to_s != "") ? "#{dialog.shortname}.#{ROOTDOMAIN}" : "#{BASEDOMAIN}") %>
<li><a href="/dialogs/<%= dialog.id %>/forum"><%= dialog.name %></a>
	<a href="/dialogs/<%= dialog.id %>/view">info</a>
	<% if @admin4.include?(dialog.id) then %><a href="/dialogs/<%= dialog.id %>/edit">edit</a><% end -%>
</li>
<% end -%>
</ul>

<p><a href="/dialogs/new">Create a new discussion</a></p>
