  <div style="position:relative;top:-10px;left:20px;background-color:#fcf9f7;padding: 0 5px 0 5px;font-weight:bold;width:60px">Options</div>
  
  <% "session[:datefixed]:#{session[:datefixed]}"%>
  
  <table>  
    <tr>
      <td style="text-align:right;vertical-align:top;background-color:transparent">Date range:</td>
      <td style="background-color:transparent">
					<% options = [] %>
        	<% if @conversation and @defaultdatefixed.to_s != '' and @defaultdatefixed != @datefixed -%>
          	<% options << ["Current phase","#{@defaultdatefixed}"] %>
        	<% end -%>
	        <% if @conversation and @conversation.together_apart == 'apart' -%>
	          <% options = options + @moons.reverse[0,6] %>
	        <% else -%>
	          <% options = options + [["In last 24 hours",'day'],["In last week",'week'],["In last month",'month'],['In last year','year'],['All','all']]+@moons.reverse %>
	        <% end -%>
					<%= select_tag "datefixed#{num}", options_for_select(options,@datefixed), :onchange=>"per_reload(false,#{num},'datefixed')" %>  
      </td>
    </tr>
    <% if false -%>
    <tr><td style="text-align:right;background-color:transparent">Current moon phase:</td><td style="background-color:transparent"><%= moonphase(Time.now.year,Time.now.month,Time.now.day) %></td></tr>
    <% end -%>
    <% if num == 2 -%>
    <tr><td colspan=2 style="background-color:transparent">
      <% if @moon and @moon.new_or_full == 'new' -%>
      Next New Moon is <%= @moontime %> GMT. Highest rated messages will go out at that date/time.
      <% elsif @moon and @moon.new_or_full == 'full' -%>
      Next Full Moon is <%= @moontime %>  GMT. Highest rated nonviolent action oriented messages will go out at that date/time.
      <% end -%>
    </td></tr>
    <% end -%>
  </table>  
  
  <% @moons.inspect %>
  