/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic input[type=button], form.formtastic input[type=submit] {
  margin:2px;
  padding:5px 10px;
}

form.formtastic fieldset { 
    border:1px solid #000; 
    padding: 10px; 
    margin: 5px 0 5px 0; 
    width: 500px;
}

form.formtastic fieldset > ol > li.string input {
    max-width: 500px;
}