body {
	background-color: #fff;
	background-image:url('/images/whitetrk.gif');
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 13px;
}

input {
	background-color: #E6E6E6;
	border-bottom: 1px solid dimGray;
	border-left: 1px solid dimGray;
	border-right: 1px solid dimGray; 
	border-top: 1px solid dimGray;
	font-family: Verdana, Helvetica, sans-serif;
}
input:hover {
	background-color: #f6f6f6;
}
select {
	background-color: #E6E6E6;
	border-bottom: 1px solid dimGray;
	border-left: 1px solid dimGray;
	border-right: 1px solid dimGray;
	border-top: 1px solid dimGray;
	font-family: Verdana, Helvetica, sans-serif;
}
select:hover {
	background-color: #f6f6f6;
}

tbody tr td, tbody tr.even td, tbody tr:nth-child(even) td {
    background: #fff;
}

/*---------- Header and sidebar ----------------------------------*/


div#header {
	margin: 0 0 0 0;
	padding: 0;
	width:950px;
	height: 132px;
	color: white;
}
div#header_narrow {
	margin: 0 0 0 0;
	padding: 0;
	width:750px;
	height: 132px;
	color: white;
}
div#mainheader1 {
	height:4px;
	margin:0;
	padding:0;
	background-color:#aa1919;
}
div#mainheader2 {
	background-color: #ededed;
	background-image: url('/images/header_background.gif');
	height: 84px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}
div#mainheader3 {
	background-color: #666;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	height: 24px;
	margin: 0px;
	padding: 0 5px 0 0;
	text-align: right;
}
div#mainheader4 {
background-color: #d1cec3;
height: 20px;
margin-bottom: 10px;
margin: 0px 0px 10px;
padding: 0px;
text-align: right;
}


#header ul.logmenu {
	list-style: none;
	float: right;
}
#header ul.logmenu li {
	display:block;
	float: left;
	margin: 0 0 0 5px;
}
#header h1 {
	font-size: 32px;
	color: #fff;
	margin: 0 0 0 10px;
}
#header a {
	color: #fff;
}
#header a:hover {
	color: #fff;
}

ul.mainmenu {
		list-style: none;
		display:block;
}
ul.mainmenu li {
		margin:6px 0 0 0;
}

ul.mainmenu li.menu a {
	background: transparent url('/images/menu_bullet_blue.gif') no-repeat scroll 6px 50%;
	font-size: 12px;
  color: #666666;
  line-height: normal;
  font-style:normal;
  font-weight:bold;
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #cccccc;
  text-align: left;
  text-decoration: none;
  display: block;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: 2px;
  padding-left: 16px;
}
ul.mainmenu li.menu a:link, ul.mainmenu li.menu a:visited {
	background-color: #ccc;
	color: #048;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	padding-bottom: 3px;
	padding-top: 6px;
	text-align: left;
	text-decoration: none;		
}	
ul.mainmenu li.menu a:active, ul.mainmenu li.menu a.selected {
	background: transparent url('/images/menu_bullet_red.gif') no-repeat scroll 6px center;
	color: #a02424;
	background-color: #f3e5dc;
	border-left-color: #a02424;
}
ul.mainmenu li.menu a:hover {
	background: transparent url('/images/menu_bullet_red.gif') no-repeat scroll 6px center;
  color: #004488;
  background-color: #e5e5e5;
  border-left-color: #a02424; 
}
ul.mainmenu li.moreless {
    font-weight: bold;
    text-align: center;
}
ul.mainmenu li.moreless a {
    color: #048;
}
ul.mainmenu li.moreless a:hover {
    color: #a02424;
}

ul.horizmenu {
  list-style: none;
	display:block;
	margin: 6px 0 0px 0;
	height: 45px;
}
ul.horizmenu li {
  margin: 0 0 16px 6px;
	min-width: 110px;
	overflow: none;
	float: left;
}
ul.horizmenu li a {
	background: transparent url('/images/menu_bullet_blue.gif') no-repeat scroll 6px 50%;
	font-size: 12px;
  color: #666666;
  line-height: normal;
  font-style:normal;
  font-weight:bold;
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #cccccc;
  text-align: left;
  text-decoration: none;
  display: block;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: 2px;
  padding: 0 8px 0 16px;
}
ul.horizmenu li a:link, ul.horizmenu li a:visited {
	background-color: #ccc;
	color: #048;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	padding-bottom: 3px;
	padding-top: 6px;
	text-align: left;
	text-decoration: none;		
}	
ul.horizmenu li a:active, ul.horizmenu li a.selected {
	background: transparent url('/images/menu_bullet_red.gif') no-repeat scroll 6px center;
	color: #a02424;
	background-color: #f3e5dc;
	border-left-color: #a02424;
}
ul.horizmenu li a:hover {
	background: transparent url('/images/menu_bullet_red.gif') no-repeat scroll 6px center;
  color: #004488;
  background-color: #e5e5e5;
  border-left-color: #a02424; 
}


#leftcolumn {
	margin: 0 -10px 5px 0;
	padding: 5px;
	min-height: 600px;
}
#maincontent {
	background-color: #fcf9f7;
	border-left-color: #E5E5E5;
	border-left-style: dotted;
	border-left-width: 1px;
	margin: 0 0 5px 0;
	padding: 5px;
	min-height: 500px;
}

div.sidebarbox {
	font-size: 11px;
	margin: 0 20px 10px 20px;
	padding: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
}

/*---------- Selectmenu ----------------------------------*/

.ui-selectmenu { display: block; position:relative; height:25px; text-decoration: none; overflow:hidden;}
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {line-height: 19px; display:block; padding:3px 10px; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a {  }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }


/*---------- Forum ----------------------------------*/


div.forumitem {
	clear: both;
	border: 2px dotted #999;
	position: relative;
	z-index: 0;
	padding: 10px 10px 2px 10px;
}
div.forumitemplain {
	border-radius: 10px;
	-moz-border-radius: 10px;
}
div.forumitembranch {
	border-radius: 0 10px 10px 10px;
	-moz-border-radius: 0 10px 10px 10px;
}
div.forummain {
	margin: 10px 0 35px 0;
}
div.forumreply {
	margin: 20px 5px 25px 20px;
}
div.forum0 {
    /* background-color: #ffd; */
    /* border-color: #960; */
    border-color: #622462;
}
div.forum1 {
    /* background-color: #dff; */
    /* border-color: #096; */
    border-color: #A02424;
}
div.forumitem .subjectold {
	position: absolute;
	top: -10px;
	left: 15px;
	padding: 0 5px 0 5px;
	font-weight: bold;
	background-color: #fcf9f7;
}
div.forumitem .subject {
	position: relative;
	top: -21px;
	left: 15px;
	padding: 0 5px 0 0px;
	font-weight: bold;
	background-color: transparent;
	/* width: 420px; */
    width: 305px;
	margin-bottom: -15px;
	cursor: pointer;	
}
div.forumitem .subject span {
	background-color: #fcf9f7;
	padding: 0 5px 0 5px;
}
div.forumitem .subject0 {
    /* background-color: #ff9; */
    color: #622462;
}
div.forumitem .subject1 {
    /* background-color: #9ff; */
    color: #A02424;
}
div.forumitem div.item_expand {
	position: absolute;
	top: -13px;
	right: 25px;
	padding: 0 5px 0 5px;
	font-size: 15px;
	font-weight: bold;
	background-color: #fcf9f7;
}
div.item_expand {
	cursor: pointer;    
}
div.forumitem div.item_expand:hover {
	background-color: #ff9;
}
.dot_expand:hover {
	background-color: #ff9;	
}

div.forumitem div.iteminfo {
	color: #999;
	min-height: 18px;
	position: relative;
	overflow: hidden;
	clear: both;
}
div.forumitem div.iteminfotxt {
	float: left;
	min-height: 18px;
	margin-right: 10px;
}
div.forumitem div.iteminfopic {
	float: left;
	height: 50px;
  width: 50px;
	margin-right: 10px;
  background-color:#999;
}

div.itemthumbdiv {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 5px;
}
div.itemthumbdiv hr {
  margin-bottom: 5px;
}
div.itemthumbdiv img {
  height: 30px;
  width: 30px;
  margin-right: -5px;
}
div.itemthumbdiv div.thumbtitle {
  float: left;
  margin-top: 5px;
  margin-right: 7px;
}

div.forumitem div.itemvoting {
    position: absolute;
    top: -10px;
    right: 60px;
    width: 200px;
    height: 20px;
    padding: 0 5px 0 5px;
    z-index:1;
}

div.forumitem div.interest {
    /* background-color: #ddf; */
    background-color: #ffebcd;
    opacity: 0.9;
    border: 1px solid transparent;
}
div.forumitem div.approval {
    background-color: #dfd;
    opacity: 0.9;
    border: 1px solid transparent;
}
div.forumitem div.interestplus {
    /* background-color: #fbcb8a; */
    background-color: #ffebcd;
    opacity: 0.9;
    border: 1px solid #AF7F3E;
    /*
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid; 
    */
}
div.forumitem div.approvalplus {
    /* background-color: #aca; */
    background-color: #dfd;
    opacity: 0.9;
    border: 1px solid #5E805E;
    /*
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none; 
    */
}

div.forumitem div.summary {
    /* background-color: #ffebcd; */
    background-color: #eef;
    opacity: 0.9;
    height: 20px;
    padding: 0 5px 0 5px;
    border: 1px solid transparent;
}
div.forumitem div.votesection {
	/* float: left; */
  float:right;
	padding: 0 8px 0 8px;
	color: #999;
	height: 20px;
	text-align: center;
	overflow: visible;
	z-index: 1;
}
div.forumitem div.votesection img {
	opacity: 0.5;
	vertical-align: middle;
}
div.forumitem div.votesection:hover {
	color: #000;
	/* background-color: #fbcb8a; */
	background-color: #ddd;
	border-bottom: 1px solid #fbcb8a;
}
div.forumitem div.votesection:hover img {
	opacity: 1.0;
}
div.votesection .intshort, div.votesection .appshort {
	float: left;
	width: 57px;
	x-index: 299;
	overflow: hidden;
}
div.votesection div.title {
	font-weight: bold;
	text-align: center;
	height: 20px;
}
div.intlong {
	/* float: left; */
	position: absolute;
	display: none;
	height: 60px;
	width: 180px;
	margin: 19px -10px 0 -10px;
	padding: 0 10px 20px 10px;
	border: 1px solid #666;
	/* background-color: #ddf; */
    background-color: #FEECD4;  /* light corral */
	opacity: 1.0;
	z-index: 1;
}
div.applong {
	/* float: left; */
	position: absolute;
	display: none;
	height: 60px;
	width: 200px;
	margin: 19px -10px 0 -10px;
	padding: 0 10px 20px 10px;
	border: 1px solid #666;
	/* background-color: #dfd; */
	background-color: #dfd;
	opacity: 1.0;
	z-index: 1;
}
div.intlong div.title, div.applong div.title, div.iteminfo_summary div.title {
	margin: 0 -10px 0 -10px;
	font-weight: bold;
	text-align:center;
}
div.intlong div.title {
	background-color: #fbcb8a;
}
div.applong div.title {
	background-color: #aca;
}
div.iteminfo_summary div.title {
    background-color: #bbb;
}
div.votesection div.slot {
	float: left;
	margin: 0;
	padding: 0;
	width: 21px;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
}
div.votesection div.bigslot {
	float: left;
	margin: 0;
	padding: 0;
	width: 73px;
	overflow: hidden;
}
div.votesection .left {
	text-align: left;
}
div.votesection .right {
	text-align: right;
}
div.iteminfo_summary {
	position: absolute;
	/* bottom: -10px;
	left: 260px;
	width: 470px; */	
    margin: 19px -100px 0 -10px;
	height: 120px;
	padding: 0 10px 20px 10px;
	border: 1px solid #666;
	background-color: #ddd;
	opacity: 1.0 !important;
	z-index: 1;
}
div.iteminfo_summary b {
    color: #048;
}

div.forumbranchitem .subject {
    float: left;
	padding: 0 5px 0 5px;
	font-weight: bold;
	background-color: #fcf9f7;
}
div.forumbranchitem div.item_expand {
    float:left;
    margin: -3px 0 0 0;
	padding: 0 5px 0 5px;
	font-size: 15px;
	font-weight: bold;
	background-color: #fcf9f7;
}
div.forumbranchitem div.item_expand:hover {
	background-color: #ff9;
}
div.forumbranchitem .htmlcontent {
    clear: both;
}
div#forumcontrol {
	width: 100%;
	/* height: 29px; */
	overflow: hidden;
}
div#forumcontrol div.lefttitle {
	clear: left;
	float:left;
	width: 250px;
	height:27px;
	padding:4px 5px 0 0;
	text-align: right;
}
div#forumcontrol div.leftfield {
	float: left;
	height:27px;
}
div#forumcontrol div.right {
	float:right;
}
div#forumcontrol2 {
    display: none;
}
div#forumcontrol3 {
    display: none;
}

div.htmlcontent {
  overflow: hidden;
}

img.playicon {
	position:absolute;
	opacity:0.5;
	top:30px;
	left:30px
}
img.playicon:hover {
	opacity:0.6;	
}	
img.item_img_sm {
	width: 100px;
	height: 100px;
	margin: 0 10px 0 0;
	float: left;
}
img.item_img_sm_w {
	width: 100px;
	margin: 0 10px 0 0;
	float: left;
}
img.item_img_lr {
	max-width: 600px;
}

.item_subgroup_add {}
.item_subgroup_add:hover {
    font-weight: bold;
    color: #000;
    background-color: yellow;
    cursor:pointer;
}


/*-- authentications --*/

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

/* ---- profile ------------ */

table.profiletable {
	background: #fff;
}
table.profiletable td { 
	background: #fff !important;
  vertical-align: top;
}
table.profiletable td.label {
	width: 150px;
  text-align: right;
  vertical-align: top;
	font-weight: bold;
}
table.profiletable td.right {
  text-align: right;
}

/* ---- facebook ------------ */
td.galpictd {
    position: relative;
    text-align: center;
}
div.galpicdiv {
    position: relative;
}
img.galpic {
    width: 200px;
}
div.xpic {
    position: absolute;
    font-size: 16px;
    color: #999;
    width: 12px;
    height: 12px;
    right: 0px;
    bottom: -5px;
}
div.xpic:hover {
    color: #f00;
}

div.modaldiv {
    display:none
}
div.modaldiv p {
    font-size:18px;
    font-family: verdana;    
    text-align: left;
}
div.modaldiv ul, div.modaldiv ol {
    font-size:18px;
}
#basic-modal-content {display:none;}
/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}
/* Container */
#simplemodal-container {
    height:420px; width:550px; 
    color:#000; 
    background-color:#f2f7f7; 
    border:4px solid #aa1919; padding:12px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {
    background:#141414; 
    border-left:3px solid #65B43D; 
    color:#bbb; 
    display:block; 
    font-size:16px; 
    margin-bottom:12px; 
    padding:4px 6px 6px;
}
#simplemodal-container a {color:#000;}
#simplemodal-container a.modalCloseImg {background:url(/images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}



tr.line0 td {
   background: #e0f8f8;	
}
tr.line1 td {
   background: #e0d0e0;
}

td.dotted {
  border: 1px dotted #333333;
}

.listtable td { 
  vertical-align: top;
  font-size: 0.9em;
}
.listtable th {
  background: #dddddd;
}
.listtable td.right {
  text-align: right;
  vertical-align: top;
}
.listtable td.center {
  text-align: center;
  vertical-align: top;
}
.listtable tr.line0 td {
   background: #e0f8f8;	
}
.listtable tr.line1 td {
   background: #f8d0f8;
}
.listtable td.on {
  background: #ccffcc;
  text-align: center;
  border: 1px solid #ffffff;
}
.listtable tr.on td {
    background: #ccffcc;    
}
.listtable td.hover:hover {
  border: 1px dotted #333333;
}
.listtable td.off {
  background: #ffcccc;
  border: 1px solid #ffffff;
}
.listtable tr.off td {
    background: #ffcccc;
}
.listtable tr.hover td {
  border: 1px dotted #333333;
}

.edittable td { 
  background: #eeeeee;
  vertical-align: top;
}
.edittable td.left {
  background: #dddddd;
  text-align: right;
  vertical-align: top;
}
.edittable td.leftflag {
  background: #dddddd;
  text-align: right;
  color: #ff0000;
}
.edittable td.right {
  background: #dddddd;
  text-align: right;
}


/* Slider */

#per_main img {
  max-width: 570px;
}
.ui-slider .ui-slider-handle {
    background: #ccc !important;
}