<a href="/admin">Admin</a><br/>
<a href="/admin/items/search">Items</a><br/>
<a href="/participants/search">Participants</a><br/>
<a href="/admin/groups/search">Groups</a><br/>
<a href="/admin/hubs/search">Hubs</a><br/>
<a href="/admin/dialogs/search">Dialogs</a><br/>
<a href="/admin/metamaps/search">MetaMaps</a><br/>
<a href="/admin/templates/search">Templates</a><br/>
<br/>
<%= link_to('Disconnect', destroy_participant_session_path) %>