<img src="{{ logo }}" alt="logo" width="150" style="float:right;width:150px;margin:0 10px 10px 0;">

<p><center><big><b><br><% if @community.fullname.to_s != '' %>{{ community.fullname }}<% else %>{{ community.tagname }}<% end %><br>Voices of Humanity - Order out of Chaos</b></big><br><i>finding our common humanity across<br>all national, religious and cultural boundaries</i></center></p>

<p><b><big>A Platform for Community Action</big></b></p>

<p style="text-align:justify"><b><big>Welcome.</big></b> So glad you're here. Is this your first time? Joining the <i>Order out of Chaos</i> worldwide conversation is easy. By doing so, you'll be part of history. For the first time, using the power of social media, we can have a worldwide action oriented conversation between communities about topics that matter most.</p>

<p><a href="/fbjoinlink?comtag={{ community.tagname }}&amp;joincom=1">
<img alt="Facebook Sign-in" height="64" src="https://voh.intermix.org/images/login/facebook_64.png" style="float:left; margin:0 10px 10px 0;" width="64" title="Facebook Sign-in" alt="Facebook icon" /></a><b>Use the Facebook button</b> to sign up and sign back in anytime or click the Join button on the left of the screen. You'll fill out a short form that will become your online profile.</p>

<p style="text-align:justify"><b>Please list your city in your profile.</b> We are aiming for participants from 1000 cities by the end of 2018. Nuclear arms are the roadblock to everything we want to accomplish, so we are taking nuclear disarmament as our major theme for 2018. <a href="https://voh.intermix.org/items/2601/view" target="_blank">#smile4nd</a></p>

<p><center><big><b>-----------------------------------------</b></big></center></p>

<p style="text-align:justify"><b>Voices of Humanity</b> is a social media platform for community action to achieve peace, justice and a world that works for all. The highest rated messages posted in each community (on topics of the participants own choosing) are taken to represent that community. The collective voices of Women, Men, Youth, Experience and Wisdom build gender and age equality into the process. Geographic focus is easily shifted from city to metro, to state, nation and Planet Earth. The global voice of women is expected to take the conversational lead. This global strength will reach down to the local level and empower women of all ages everywhere. The men will follow.</p>

<p style="text-align:justify"><b>VoH global strategy.</b> Please see <a href="https://voh.intermix.org/items/2601/view" target="_blank">A Plan to Capture the Center and Marginalize the Hardliners</a>. By giving each nation and religion its own voice in a global conversation capped by the Voice of Humanity-as-One, Voices of Humanity enables us to both transcend and support our nations and religions within a single framework. A kindly and intelligent human unity with diversity built-in is within our reach! Your participation could make the difference.</p>

<p style="text-align:justify"><b>Voices of Humanity </b> is a project of <a href="http://intermix.org/cci.htm" target="_blank">Collective Communication, Inc.</a> (CCI), a California non-profit. Roger Eaton, Founder and now Treasurer of CCI is current project coordinator. As of January 2017, Bronwyn Galloway is President of CCI and with her lead we are looking to bring in more women from around the world to the CCI Board. The VoH online community is implemented via <a href="https://github.com/VoicesOfHumanity/InterMix" target="_blank">InterMix open source software</a> at github</a> under the <a href="http://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPL v3.0 license</a>.</p>

<p><b><big>How it Works</big></b></p>

<p style="text-align:justify"><b>The idea is simple.</b> Participants write messages - on topics of their own choosing - and then vote on them. At each new moon, the overall winning message is taken as the Voice of Humanity-as-One. The highest rated message written by a woman as rated by women is the Voice of Women, and likewise for men, youth, middle-aged and seniors. These “winners” are easily accessed by clicking the “Voices of Humanity” button in the online forum. In other words, instead of voting to elect people, we vote to elect messages.</p>

<p><big><b>Step by Step</b></big></p>
<ol>
<li>If you use facebook to register, then it is a little easier and in the future you can log in with a single click. Go to the top of this page and click the facebook icon.</li>
<li>If you do not register with facebook, then begin by clicking the "Join" button at the top left of this page. After you register, you will need to link in from an email that will be sent to confirm it really is you.</li>
<li>In the process of joining or by editing your profile, you can join or leave communities of interest using the checkboxes provided.</li>
<li>At any time you can go to the Forum by clicking the "Order Out of Chaos" button in the upper left. In the forum you can read and vote on the messages that have already been added there.</li>
<li>You may also comment on any of the messages by clicking the comment link under the message.</li>
<li>Start your own topic by clicking "Add My Voice" at the top right of the page.</li>
<li>Be sure to click the "Save" button at the bottom after you have written your message. <b>That's it!</b></li>
</ol></p>

<p><b>And please</b> <a href="https://www.facebook.com/VoHumanity/" target="_blank">"like" us on facebook</a>.</p>

<p><b>For questions or comments</b> contact project coordinator, <a href="mailto:rogerweaton@gmail.com">Roger Eaton</a>.</p>

<p>&nbsp;</p>