<img src="{{ logo }}" alt="logo" width="150" style="float:left;width:150px;margin:0 10px 10px 0;">
<p>&nbsp;</p>
<p>{{ current_participant.name }} has invited you to the InterMix Voices of Humanity community: <b>{{ community.name }}</b>.</p>
<p>To participate <a href="{{ joinlink }}">click here</a>.</p>
<p>If you are not already a participant in the Voices of Humanity social media, the link will take you to an information page. Use the Join link on that page to register.</p>
<p>Thanks so much!</p>
