<span style="font-size:20px;color:#000;">Communities</span></a><br>

<ul class="horizmenu">
<li><a class="menu<%= ' selected' if @csection=='my' %>" href="/communities/my">My communities</a></li>
<li><a class="menu<%= ' selected' if @csection=='all' %>" href="/communities/all">All communities</a></li>
</ul>

<table>
<tr><th>Name</th><th>Description</th><th>Members</th></tr>	
<% for com in @communities -%>
<tr>
	<td><%= com.tagname %></td>
	<td><%= com.description %></td>
</tr>	
<% end -%>
</table>