<%= render(:partial => 'topmenu')%>
<%= render(:partial => 'infomenu')%>

<h3>Membership List</h3>

<div id="memlist">
</div>


<% if @is_admin -%>
<p><br><a href="#" onclick="add_member();return false">Add</a>: <%= select_tag :new_member, options_from_collection_for_select(@participants, "id", "name") %> </p>
<% end -%>

<script>
var curid1 = <%= @community.id %>;
function list2() {
  $('#memlist').css('opacity','0.5');
	showworking();
	$.ajax({
     type: "GET",
     url: "/communities/" + curid1 + "/memlist",
     complete: function(t){	
       $("#memlist").html(t.responseText);
       hideworking();
       $('#memlist').css('opacity','1.0');
     }
   });	
}
function add_member() {
	var id = $('#new_member').val();
  alert(id);
  $('#memlist').css('opacity','0.5');
	$.ajax({
    type: 'POST',
    url: "/communities/" + curid1 + "/member_add",
    data: "participant_id="+id,
    complete: function(t){	
      $("#memlist").html(t.responseText);
      $('#memlist').css('opacity','1.0');
     }
   });		
}
list2();
</script>