<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	
<img src="http://intermix.cr8.com/assets/logo.gif"/><br/><br/>

<div>
<%= yield  %>
</div>

<hr/>
<p>You can interact with this group online at <a href="http://<%= BASEDOMAIN %>">InterMix</a></p>
</body>
</html>
	