<%= semantic_form_for [:admin, @metamap] do |f| %>

	<%= f.inputs do %>
		<%= f.input :name, :label=>"Name in Label", :required => true %>
	<% end %>

<% end %>

<p>
  <input type="button" value="Cancel" onclick="viewrec1(<%= @metamap.id.to_i %>)" />
  <input type="button" value="Save" onclick="saverec1()" />
</p>